Pod::Spec.new do |s|
  s.name             = 'TuIDCoreKit'
  s.version          = '1.1.4'
  s.summary          = 'Official Tu Identidad SDK for iOS to access Tu Identidad Platform'

  s.description      = <<-DESC
Used to integrate the Tu Identidad Platform with your iOS apps.
Validation Services:
- INE
                       DESC

  s.homepage         = 'https://github.com/tu-identidad/tu-identidad-ios-sdk'
  s.license          = { :type => 'MIT', :file => 'LICENSE' }
  s.author           = 'TuIdentidad'
  s.source           = { :git => 'https://github.com/tu-identidad/tu-identidad-ios-sdk.git', :tag => s.version.to_s }

  s.ios.deployment_target = '10.0'
  s.platform = :ios, '10.0'
  s.swift_version = '5.0'
  s.requires_arc = true

  ## s.source_files = 'TuIdentidadSDK/Classes/**/*'
  
  s.resource_bundles = {
    'TuIdentidadSDK' => ['TuIdentidadSDK/Assets/*.{png,xib}']
  }

  s.dependency 'Alamofire', '~> 5.0.0-rc.3'
  s.dependency 'HandyJSON', '~> 5.0.1'
  s.dependency 'JGProgressHUD'
  s.dependency 'MBDocCapture', '~> 0.1.4'
  s.dependency 'Toast-Swift', '~> 5.0.0'
  
  s.default_subspecs = 'Core'
  
  s.subspec 'Core' do |ss|
    ss.source_files = 'CoreKit/**/*'
  end
end

